body {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    float: right;
}


ol {
    margin-top: 0;
    margin-left: 20px;
}


.map-container {
    display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
border: 1px solid #ccc;
border-radius: 10px;
max-width: 100%;
max-height: 600px;
}
.image-container {
    float: right;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.list-container {
    clear: both;
    margin-top: 20px;
}
